#mapid { 
	height: 600px; 
	width: 600px;
}

#vehicleList {
}

#positionData {
    background-color: #eee;
	overflow:auto; 
	height:600px;
	padding-left: 3px;
}

.vehicleInfo {
	margin-left: 20px;
}

#reports {
	list-style: none;	
}

#reports li {
	list-style: none;	
	margin-bottom: 25px;
}

.checkboxDiv {
	float: left;
	font-size: 2.0em;
	margin-top: -12px;
}

input[type='radio'] { 
	transform: scale(1.5); 
}
